nav.top-bar{
	margin-bottom:20px;
}

div.currentIcon > span.fa-inverse{
	background-color:#000000;
}

div.currentIcon > span.fa-inverse:not(.fa-border){
	padding:3px;
}

input.search
{
	font-size:2em;
	height:52px;
}

.font-awesome-icons > li
{
	padding:5px;
}

.fa-hover:hover
{
	border-radius: 5px;
	background-color:#008cba;
	color:#fff;
}